#searchResults {
    position: absolute;
    background: white;
    width: 60%;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    margin-top: 10px;
    color: black;
    margin-left: 14%;
}

.search-result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.search-result-item img {
    width: 50px;
    height: 80px;
    margin-right: 10px;
}

.search-result-item span {
    font-size: 18px;
}

.search-result-item:hover {
    background-color: red;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, black, red);

}

header {
    color: #fff;
    padding: 20px;
    text-align: center;
    top: 0;
    z-index: 1000;

}

header h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

header input[type="text"] {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 60%;
}

header button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header button:hover {
    background-color: red;
}

#topMoviesContainer,
#bottomMoviesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.movie {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.movie h3 {
    font-size: 20px;
    margin: 10px 0;
}

.movie p {
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
}

.movie button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.movie button:hover {
    background-color: black;
}

.movie-details {
    background-color: #fff;
    border: 1px solid #ccc;
    color: black;
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-details img {
    width: 300px;
    height: 450px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.movie-details h2 {
    font-size: 24px;
    margin: 10px 0;
}

.movie-details p {
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
}

.header-top-list {
    text-align: center;
    color: white;
}